.container {
  padding: 50px 10px;
}

.row {
  margin-top: 20px;
  margin-bottom: 20px;
}

#filter {
  width: 300px;
  margin: 0 auto;
  cursor: pointer;
}

.navbar-inverse .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
}

.flowchart {
  width: 100%;
}