{% extends "base.html" %}
{% block title %}Attraction Info{% endblock %}
{% block body %}

<div class="container">
  <h1>{{ name }} (ID #{{ attract_id }})</h1>
  <br>
  <h5>Description</h5>
  <p>{{ description }}</p>
  <br>
  <h5>Country</h5>
  <p>{{ country }}</p>
  <br>
  <h5>Category</h5>
  <p>{{ category }}</p>
  <br>
  <h5>Origin</h5>
  <p>{{ origin }}</p>
  <br>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Family Rating</th>
        <th>Author ID</th>
        <th>Review Date</th>
        <th>Overall Rating</th>
        <th>Attraction ID</th>
        <th>Adventure Rating</th>
        <th>Review ID</th>
      </tr>
    </thead>
    <tbody>
      {% for row in reviews %}
      <tr>
        {% for data in row %}
        <td>{{ data }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
