{% extends "base.html" %}
{% block title %}Filtered Results{% endblock %}
{% block body %}

<div class="container">
  <h1>Lonely Planet's Top 500 Ultimate Travel Destinations</h1>
  <p class="lead">Welcome to our project homepage! You can use this web app to look up information about the 500 destinations curated by Lonely Planet.</p>
  <br>

  <div class="results">
    <h3>Filter Attractions By: &nbsp;&nbsp;&nbsp;
    {% for item in filterItems %}
    <span class="badge badge-primary">{{ item }}</span>
    {% endfor %}
    </h3>

    <table class="table table-striped table-bordered">
      <thead class="thead-default">
        <tr>
          <th>Continent Name</th>
          <th>Climate</th>
        </tr>
      </thead>
<!--       {% for row in continents %}
      <tr>
        {% for d in row %}
        <td>{{ d }}</td>
        {% endfor %}
      </tr>
      {% endfor %} -->
    </table>


  </div>


  {% endblock %}


</div>