{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}

<div class="container">
  <h1>Lonely Planet's Top 500 Ultimate Travel Destinations</h1>
  <p class="lead">Welcome to our project homepage! You can use this web app to look up information about the 500 destinations curated by Lonely Planet.</p>
  <br>

  <h5>Filter through the attractions using the dropdowns below.</h5>

  <form action="{{ url_for('filter') }}" method="POST" accept-charset="utf-8">

    <div class="form-group row">
      <div class="col-3">
        <label for="continent">Continent:</label>
        <select name="continent" class="form-control" id="continent">
          <option>All Continents</option>
          {% for continent in continents %}
          <option>{{ continent }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-3">
        <label for="country">Country:</label>
        <select name="country" class="form-control" id="country">
          <option>All Countries</option>
          {% for country in countries %}
          <option>{{ country }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-3">
        <label for="category">Category:</label>
        <select name="category" class="form-control" id="category">
          <option>All Categories</option>
          {% for category in categories %}
          <option>{{ category }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-3">
        <label for="origin">Origin:</label>
        <select name="origin" class="form-control" id="origin">
          <option>All Origins</option>
          {% for origin in origins %}
          <option>{{ origin }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <button type="submit" id="filter" class="btn btn-primary btn-lg btn-block">Filter</button>

  </form>
</div>
{% endblock %}
