{% extends "base.html" %}
{% block title %}Presentation{% endblock %}
{% block body %}

<div class="container">
  <h1>DBMS for Lonely Planet's Top 500 Ultimate Travel Destinations</h1>
  <h3>By Brittany Chiang &amp; Izzi Tripp</h3>
  <br>

  Please provide a verbal 5 minute description of your project. It should contain a brief description of the schema, the architecture, and utility. You can provide a visual representation such as a power point slide that describes your system and schema. You need to provide a demonstration of the front end. It is important that you be able to describe and demonstrate your project succinctly so please do not exceed the time limit.

  <img class="flowchart" src="https://raw.githubusercontent.com/bchiang7/CS3200-Project/master/flowchart.png" alt="">

</div>

{% endblock %}
