{% extends "base.html" %}
{% block title %}Presentation{% endblock %}
{% block body %}

<div class="container">
  <h1>DBMS for Lonely Planet's Top 500 Ultimate Travel Destinations</h1>
  <p class="lead">By Brittany Chiang &amp; Izzi Tripp</p>
  <br><br>

  <h3>Project Description</h3>
  <p>A simple web application that allows users to filter through a database containing <a href="https://www.amazon.com/Lonely-Planets-Ultimate-Travel-Places/dp/1760342777" target="_blank">Lonely Planet's Top 500 Travel Destinations</a> which can be found in <a href="https://docs.google.com/spreadsheets/d/1MOIP2Evje9YroJMdibikRV1jSIiI9jqZ0FgM9x6Gaw4/edit#gid=0" target="_blank">this spreadsheet</a>. Users are able to add themselves as visitors as well as leave reviews for the destinations. We also plan to incorporate different currency exchange rates based on USD and airfare rates from Boston to enhance the user experience.</p>
  <br><br>

  <h3>Technologies We Used</h3>
  <ul>
    <li>Python</li>
    <li>Flask</li>
    <li>MySQL</li>
    <li>HTML/CSS/JS</li>
  </ul>
  <br><br>

  <h3>UML Diagram</h3>
  <img src="https://raw.githubusercontent.com/bchiang7/CS3200-Project/master/img/FinalUML.jpg" alt="">
  <br><br>

  <h3>Flow Chart</h3>
  <img src="https://raw.githubusercontent.com/bchiang7/CS3200-Project/master/img/flowchart.png" alt="">

</div>

{% endblock %}
