{% extends "base.html" %}
{% block title %}Write A Review{% endblock %}
{% block body %}

<div class="container">
  <h1>Write a review!</h1>
  <h5>If you haven't created a visitor ID yet, create one <a href="/visitor">here</a> first.</h5>
  <br>
  <form>
    <div class="form-group">
      <label for="formGroupExampleInput">Your visitor ID</label>
      <input type="number" class="form-control" id="formGroupExampleInput" placeholder="Input1">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput">Attraction visited</label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Input2">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Visit date (MM/DD/YYYY)</label>
      <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Input3">
    </div>
    <div class="form-group">
      <label for="overall">Overall rating (1-10)</label>
      <input type="number" class="form-control" id="formGroupExampleInput3" placeholder="Input4">
    </div>
    <div class="form-group">
      <label for="family">Family-friendly rating (1-10)</label>
      <input type="number" class="form-control" id="formGroupExampleInput4" placeholder="Input5">
    </div>
    <div class="form-group">
      <label for="adventure">Adventure rating (1-10)</label>
      <input type="number" class="form-control" id="formGroupExampleInput5" placeholder="Input6">
    </div>
  </form>

</div>

{% endblock %}
