{% extends "base.html" %}
{% block title %}Create a Visitor{% endblock %}
{% block body %}

<div class="container">
  <h1>Have you visited one of these places before?<br> Add yourself as a visitor!</h1>
  <br>
  <div class="col-6">
    <form>
      <div class="form-group">
        <label for="formGroupExampleInput">Example label</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Another label</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
      </div>
    </form>
  </div>

</div>

{% endblock %}
