{% extends "base.html" %}
{% block title %}Create a Visitor{% endblock %}
{% block body %}

<div class="container">
  <h1>Visited one of the 500 destinations?</h1>
  <h3>Add yourself as a visitor!</h3>
  <br>
  <div class="col-6">
    <form action="{{ url_for('createVisitor') }}" method="POST" accept-charset="utf-8">
      <div class="form-group">
        <label for="firstname">First Name</label>
        <input type="text" class="form-control" id="firstName" name="firstname" placeholder="Spongebob" required>
      </div>
      <div class="form-group">
        <label for="lastinitial">Last Initial</label>
        <input type="text" class="form-control" id="lastInitial" name="lastinitial" placeholder="S" maxlength="1" required>
      </div>
      <div class="form-group">
        <label for="age">Age</label>
        <input type="number" class="form-control" id="age" name="age" placeholder="21" required>
      </div>
      <div class="form-group">
        <label for="homecountry">Home Country</label>
        <select name="homecountry" class="form-control" id="homecountry">
          <option selected="true" disabled="disabled">Select One</option>
          {% for country in countries %}
          <option>{{ country }}</option>
          {% endfor %}
        </select>
      </div>
      <br>
      <br>
      <button type="submit" id="createVisitor" class="btn btn-primary">Submit</button>
    </form>
  </div>

</div>

{% endblock %}
